body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    border: 2px solid black;
}
header h2{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1.8rem;
}
header h1{
    margin: 0;
}
.img1{
     text-align: center;
}
.img{
    height: 150px;
    width: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 3px solid #28a745;
    object-fit: cover;
}
section{
    padding:  1rem 2rem;
    max-width: 900px;
    margin: auto;
}
section h2{
    padding: 0;
    color: #4CAF50;
    margin-bottom: 1rem;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 1.5rem;
}
.project{
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.3s;

}
.project:hover{
    transform: translateY(-5px);
}
.project a{
    display: inline-block;
    margin-top: 0.5rem;
    color: #4CAF50;
    text-decoration: none;
    border: 1px solid  #4CAF50;
    padding: 5px 12px;
    border-radius: 4px;
    transition: 0.3s;
   
}
.project a:hover{
    background-color: #4CAF50;
    color: white;
}
.contact a{
    color: #4CAF50;
    text-decoration: none;
}
.contact a:hover{
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}
form input,form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
form button{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
form button:hover{
    background-color: #45a049;
}
footer{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}